name: Android Build

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: bash ./gradlew build

    - name: Build Release APK
      run: bash ./gradlew assembleRelease

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        # glob pattern para pegar qualquer APK de release
        path: app/build/outputs/apk/release/**/*.apk

    - name: Run tests
      run: ./gradlew test

    - name: Run Android Lint
      run: ./gradlew lint

    - name: Upload Lint Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: lint-report
        path: app/build/reports/lint-results.html